<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tasks</title>
    ${includes}
</head>
<body>
    ${navbar}
    <h1>these are your tasks:</h1>
    <ul class="tasks">
        ${todos.map((t) => {
            return `<li>${t.task}</li>`
        }).join('')}

        <a href='/profile/todos/create'>create task</a>
    </ul>
</body>
</html>